<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHCbl73WnFfjooDgG-U3k8E7IfnmV1xsE</string>
	<key>GCM_SENDER_ID</key>
	<string>936729765969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nursultan.intern</string>
	<key>PROJECT_ID</key>
	<string>nursultaninternship</string>
	<key>STORAGE_BUCKET</key>
	<string>nursultaninternship.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936729765969:ios:db583f1d90c3e30a4fb070</string>
</dict>
</plist>